@model MvcMusicStore.Models.Products_ComputerServer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Products_ComputerServer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ModelNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModelNumber)
                @Html.ValidationMessageFor(model => model.ModelNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture)
                @Html.ValidationMessageFor(model => model.Picture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecretLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecretLevel)
                @Html.ValidationMessageFor(model => model.SecretLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Structure, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Structure)
                @Html.ValidationMessageFor(model => model.Structure)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPU)
                @Html.ValidationMessageFor(model => model.CPU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Frequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Frequency)
                @Html.ValidationMessageFor(model => model.Frequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StandardCPUNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandardCPUNumber)
                @Html.ValidationMessageFor(model => model.StandardCPUNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxCPUNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxCPUNumber)
                @Html.ValidationMessageFor(model => model.MaxCPUNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemoryType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemoryType)
                @Html.ValidationMessageFor(model => model.MemoryType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemorySize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemorySize)
                @Html.ValidationMessageFor(model => model.MemorySize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxMemorySize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxMemorySize)
                @Html.ValidationMessageFor(model => model.MaxMemorySize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HardDriveInterface, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HardDriveInterface)
                @Html.ValidationMessageFor(model => model.HardDriveInterface)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StandardHardDriveSize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandardHardDriveSize)
                @Html.ValidationMessageFor(model => model.StandardHardDriveSize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxHardDriveSize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxHardDriveSize)
                @Html.ValidationMessageFor(model => model.MaxHardDriveSize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact)
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataEntryPerson, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEntryPerson)
                @Html.ValidationMessageFor(model => model.DataEntryPerson)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdateTime)
                @Html.ValidationMessageFor(model => model.LastUpdateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Source, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Source)
                @Html.ValidationMessageFor(model => model.Source)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
